<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarSharing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarSharing.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <style>
        /* Custom Styles */
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            overflow-x: hidden;
        }

        .navbar-brand {
            font-weight: bold;
            color: #333333;
        }

        .nav-link {
            color: #333333;
            font-weight: 500;
        }

        .badge {
            font-weight: bold;
        }

        footer {
            background-color: #ffffff;
            padding: 10px 0;
            font-size: 14px;
            color: #6c757d;
            text-align: center;
        }

        .container-fluid {
            width: 80%;
        }

        .animation-delay-05s {
            animation-delay: .5s;
        }
        .animation-delay-075s {
            animation-delay: 0.75s;
        }
        .animation-delay-1s {
            animation-delay: 1s;
        }
        .animation-delay-125s {
            animation-delay: 1.25s;
        }
        .animation-delay-15s {
            animation-delay: 1.5s;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow py-3 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CarSharing</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Cars" asp-action="Index">Cars</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @if (ViewBag.Name != null && ViewBag.isAdmin == 1)
                        {
                            <li class="nav-item d-flex align-items-center">
                                <a class="nav-link badge bg-success align-content-center text-decoration-none text-white px-4 py-2" asp-area="" asp-controller="Users" asp-action="Account">@ViewBag.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Rents" asp-action="Index">Rents</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Users" asp-action="LogOut">Log out</a>
                            </li>
                        }
                        @if (ViewBag.Name != null && ViewBag.isAdmin == 0)
                        {
                            <li class="nav-item d-flex align-items-center">
                                <a class="nav-link badge bg-primary align-content-center text-decoration-none text-white px-4 py-2" asp-area="" asp-controller="Users" asp-action="Account">@ViewBag.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Users" asp-action="LogOut">Log out</a>
                            </li>
                        }
                        @if (ViewBag.Name == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Users" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style="padding-top: 100px; margin-bottom: 100px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container">
            &copy; 2024 - CarSharing
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
