@model CarSharing.Models.Brand

@{
    ViewData["Title"] = "Delete Brand";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card animate__animated animate__slideInUp">
                <div class="card-body animate__animated animate__fadeIn animation-delay-05s">
                    <h1 class="text-center display-4">Delete Brand</h1>
                    <hr />

                    <form asp-action="Delete" class="animate__animated animate__fadeIn animation-delay-075s">
                        <dl class="row">
                            <dt class = "col-sm-2">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd class = "col-sm-10">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                        </dl>
                    
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>